<div class="site-container py-10 lg:py-20 text-center grid content-start gap-5">
  <h1 class="mx-auto w-fit">Meraki Testing</h1>
  <a href="/collections/all" class="button">See all collections</a>
</div>


{% schema %}
  {
    "tag": "section",
    "name": "Hero",
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}